@import "@fontsource/fira-mono";

:root {
  --primary-color-light: rgba(0, 191, 191, 1);
  --primary-color-dark: rgba(0, 63, 63, 1);
  color-scheme: light dark;
  --primary-color: light-dark(
    var(--primary-color-dark),
    var(--primary-color-light)
  );
  --accent-color: light-dark(
    var(--primary-color-light),
    var(--primary-color-dark)
  );
  --background-color: light-dark(black, white);
  --foreground-color: light-dark(white, black);
  --gray: #777;
  --delicate-gray: rgba(127, 127, 127, 0.35);
  --slight-shade: rgba(127, 127, 127, 0.1);
}

html,
body,
#app {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: sans;
  font-size: 18px;
  line-height: 22px;
}

#app {
  display: flex;
  flex-direction: column;
}

a {
  color: var(--accent-color);
  text-decoration: underline;
}

a:hover {
  color: var(--background-color);
  background-color: var(--accent-color);
  text-decoration: underline;
}

a:focus {
  background: var(--accent-color);
  color: var(--foreground-color);
}

hgroup,
h1,
h2,
h3,
p {
  font-size: 1rem;
  line-height: 1rlh;
  margin: 0.5rlh 0;
}

h1 {
  text-align: center;
}

h3 {
  font-style: italic;
}

pre {
  font-size: 16px;
  font-family: monospace;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 1lh;
  overflow-x: auto;
  color: var(--foreground-color);
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 740px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 0.5rlh;
}
